html, body{
  font-family: Helvetica, Arial, "sans-serif";
}

section#metadata{
}

section#data{
}

textarea, span.query{
  font-family: monospace !important;
}

#resultslist li{
  margin-bottom:30px;
}

.numrows{
  font-style: italic;
}
