html, body{
  font-family: Helvetica, Arial, "sans-serif";
}

table.datatable{
  min-width:100%;
  margin-bottom:0;
}

table.datatable tbody tr:hover{
  background: #eee;
}

table.datatable tbody td{
  line-height: 1rem;
  padding: 0.3rem 0.625rem;
}

table.datatable tbody tr.hidden{
  display: none;
}

textarea, span.query{
  font-family: monospace !important;
}

#query div.panel, #query textarea{
  height: 200px;
}

#results ul{
  padding:0;
  margin:0;
  list-style-type:none;
}

#results li{
  margin-bottom:30px;
}

.numrows, .collapseToggle{
  font-style: italic;
  margin-left: 10px;
  float: right;
}
